<div class="container">
<% @property.images.each_slice(3) do |images| %>
  <div class="row">
  <% images.each do |image|%>
      <div class="col-sm-6 col-lg-4">
        <img class="img-properties" src="<%= image.image_url %>" >
      </div>
<% end %>
  </div>
  <%end%>
</div>
<h3>Price: $<%=@property.price%></h3>
<h3>Address: <%=@property.str_address %></h3>
<h3><%=@property.city %> <%=@property.state %> </h3>
<h3><%=@property.zip_code %></h3>


<% if current_user == @property.user %>
  <button><a href="/properties/<%= @property.id %>/edit">Edit</a></button>
<% end %>
<br>

<form action="/properties/<%=@property.id %>" method="post" >
  <input type="hidden" name="_method" value="delete">
  <% if @property.user == current_user %>
    <button type="submit" onclick="return confirm('Are you sure?');">Delete Property</button>
  <%end %>
</form>